 #wc-my-statistics-product-table_wrapper{
    margin-bottom: 25px;
 }
 #wc-my-statistics-dt-fields {
    margin-bottom: 5px;
 }
 .dataTables_length {
    margin-bottom: 5px;
 }
 #wc-my-statistics-product-table_filter {
    margin-bottom: 5px;
 }